@import "tailwindcss";

@theme {
	--font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* Colors */
	--color-primary: hsl(0, 97%, 63%);
	--color-secondary: hsl(223, 23%, 46%);
	--color-background: hsl(223, 30%, 9%);
	--color-text: hsl(0, 0%, 100%);
	--color-text-secondary: hsl(223, 36%, 14%);
}


html,
body {
	color: var(--color-text);
	background-color: var(--color-background);
}
